.content-wrap {
  width: 70%;
  margin: auto;
  margin-top: 15rem;
}

.display-music-wrap {
  background-color: #207faa;
  border-radius: 50px;
  box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.2);
  padding: 1.5rem 4rem;
  margin-bottom: 3rem;
  font-family: "Comic Sans MS";
  color: #ffffff;
}

.music-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}

.music-content-container {
  display: flex;
  justify-content: space-around;
}

.display-music-item {
  font-size: 24px;
  margin-top: 2rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
}

.likes-container {
  width: 100%;
  font-size: 20px;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}

.likes-container button {
  border-style: none;
  background: none;
  height: 30px;
  width: 30px;
  margin-top: 0.3rem;
}

.likes-container button:hover {
  transform: scale(1.1);
}
