.display-music-wrap {
  width: 70%;
  height: 200px;
  margin: auto;
  margin-top: 15rem;
  margin-bottom: 3rem;
  background-color: #207faa;
  border-radius: 50px;
  box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.2);
  padding: 8.5rem 4rem;
  font-family: "Comic Sans MS";
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.music-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
}

.music-content-container {
  display: flex;
  justify-content: space-around;
}

.likes-container {
  text-align: center;
}

.display-music-item {
  margin: 2rem;
  font-size: 24px;
  font-weight: 800;
}

.likes-container {
  width: 100%;
  font-size: 28px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.likes-container button {
  border-style: none;
  background: none;
  height: 20px;
  width: 20px;
  margin-bottom: 5px;
}

.likes-container button:hover {
  transform: scale(1.1);
}
