.navbar-wrap {
  align-self: center;
  width: 80%;
  height: 6rem;
  background: linear-gradient(rgb(149, 103, 227), rgb(52, 131, 156));
  border-radius: 64px;
  border: 0.5px solid rgb(0, 0, 0, 0.1);
  box-shadow: 6px 6px 6px rgb(0, 0, 0, 0.2);
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  padding: 1.2rem;
  z-index: 1;
  font-family: "Comic Sans MS";
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar-container img {
  margin-top: 0.25rem;
  height: 60px;
  width: 60px;
}

.middle-container {
  font-size: 56px;
  font-weight: 800;
  color: #ffffff;
}
